Une fonction qui convertit des montants en dollars vers des montants en euros (prends le cours euro/dollar du jour où tu fais la quête).

In [ ]:
def dollar_to_euro(nombre):
  #1 dollar= 1.01 euro# le 18/10:2022
  return round((nombre*1.01),2)
dollar_to_euro(20)

20.2

In [ ]:
prices=[12,234,543,123]
montants=[]
for price in prices:
  a=dollar_to_euro(price)
  montants.append(a)
print(montants)

[12.12, 236.34, 548.43, 124.23]

In [ ]:
prices=[12,234,543,123]
[dollar_to_euro(nombre) for nombre in prices ]

[12.12, 236.34, 548.43, 124.23]

In [ ]:

(lambda x: x*1.02)(2)

2.04

Une fonction qui renvoie la somme des nombres pairs présents dans une liste contenant des nombres entiers.

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
sumpaire=0
for num in test_list:
  if num%2==0:
    sumpaire+=num
print(sumpaire)

48

In [ ]:
def sum(test_list):
  sumpaire=0
  for num in test_list:
    if num%2==0:
      sumpaire+=num
  return sumpaire
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]   
print(sum(test_list))

48

Une fonction qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant leurs valeurs absolues.

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
listepositif=[]
for num in test_list:
  if num>=0:
    num==num
    listepositif.append(num)
  else:
    num==-num
    listepositif.append(-num)
print(listepositif)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
listepositif=[]
for num in test_list:
  num=abs(num)
  listepositif.append(num)
print(listepositif)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
#j'ai filtrer les valeur + de 0 (valeur positif)
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
list(filter(lambda x: x>=0, test_list))

[0, 3, 9, 12, 18, 24, 27]

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
[abs(x) for x in test_list]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
list(map(abs, test_list))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]